<footer>
  <div class="footer-main">
      <div class="footer-main-box">
          <div class="footer-left">
              <div class="footer-box">
                  <div class="footer-title">
                      <h3>Giới thiệu</h3>
                  </div>
                  <div class="footer-text">
                      <p>Chào mừng bạn đến với cửa hàng kính mắt Anna! Chúng tôi mang đến trải nghiệm mua sắm độc
                          đáo với bộ sưu
                          tập đa dạng từ các thương hiệu hàng đầu. Nhân viên tư vấn chuyên nghiệp sẽ giúp bạn chọn
                          lựa chiếc kính
                          phù hợp với phong cách và nhu cầu cá nhân.</p>
                  </div>
                  <div class="footer-img">
                      <img src="../assets/images/logoSaleNoti.png" alt="">
                  </div>
              </div>
          </div>
          <div class="footer-middle-1">
              <div class="footer-box">
                  <div class="footer-title">
                      <h3>Về chúng tôi</h3>
                  </div>
                  <div class="footer-text">
                      <div class="footer-text-another">
                          <p>CÂU CHUYỆN CỦA CHÚNG TÔI</p>
                          <p>HỆ THỐNG CỬA HÀNG</p>
                          <p>TUYỂN DỤNG</p>
                          <p>MEMBERSHIP</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer-middle-2">
              <div class="footer-box">
                  <div class="footer-title">
                      <h3>Liên hệ</h3>
                  </div>
                  <div class="footer-text">
                      <p><span>Trụ Sở: </span>
                          Số 75A, Ngách 139/27 Nguyễn Ngọc Vũ, Tổ 30, P. Trung Hoà, Q. Cầu Giấy, Hà Nộ</p>
                      <p><span>Hotline:</span> 1900 0359</p>
                      <p><span>Email:</span>marketing@kinhmatanna.com</p>
                  </div>
              </div>
          </div>
          <div class="footer-right">
              <div class="footer-box">
                  <div class="footer-title">
                      <h3>Mạng xã hội</h3>
                  </div>
                  <div class="footer-mxh-img">
                      <a href=""><img src="../assets/images/footerfb.png" alt=""></a>
                      <a href=""><img src="../assets/images/footerins.png" alt=""></a>
                      <a href=""><img src="../assets/images/footertiktok.png" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
