<body>
  <header>
      <div class="logo">AnnaEyeWear</div>
  </header>
  <div class="container">
      <aside class="sidebar">
          <ul>
              <li><a [routerLink]="['/product-list']" routerLinkActive="router-link-active">Sản phẩm</a></li>
              <li><a [routerLink]="['/category-list']" routerLinkActive="router-link-active" >Danh mục</a></li>
              <li><a >Người dùng</a></li>
              <li><a href="#cai-dat">Cài đặt</a></li>
          </ul>
      </aside>
      <main class="content">

      </main>
  </div>
</body>
